<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1>Enter Username to Register</h1>
    <form id="username-form">
        <input type="text" id="username" placeholder="Enter Username" required>
        <button type="submit">Submit</button>
    </form>

    <div id="qr-code-container"></div>

    <p>Already registered? <a href="/login">Login here</a></p> <!-- Link to login page -->
</div>

<script src="/script.js"></script>
</body>
</html>