<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
<h1>Update Profile</h1>

<form id="profile-form" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname">

    <label for="photo">Profile Photo:</label>
    <input type="file" id="photo" name="photo">

    <button type="submit">Update Profile</button>
</form>

<script src="/script.js"> </script>
</body>
</html>
