<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Password</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <h1>Enter Password</h1>
    <form id="password-form">
        <input type="password" id="password" placeholder="Enter Password" required>
        <button type="submit">Submit</button>
    </form>
</div>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');

    document.getElementById('password-form').addEventListener('submit', function(e) {
        e.preventDefault();
        const password = document.getElementById('password').value;

        fetch('/set-password', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ token, password })
        })
            .then(response => response.json())
            .then(data => {
                if (data.message === 'User registered successfully') {
                    window.location.href = '/welcome';
                } else {
                    alert(data.message);
                }
            });
    });
</script>
</body>
</html>
